body {
    background-color: rebeccapurple;
    margin:300px;


}


p {
    color:pink;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

label {
    color:pink;
    font-size: 20px;
    padding:10px;
}

button  {
    display: inline-block;
    font-size: 16px;
    margin:10px;
    padding:5px;
    cursor: pointer;
}

button:hover {
    background-color:rosybrown;
}